.totals {
    width: 33.3333%;
    /* Equivalent to w-1/3 */
    background-color: #fff;
    /* Equivalent to bg-white */
    padding-top: 6px;
    /* Equivalent to py-6 */
    padding-bottom: 6px;
    /* Equivalent to py-6 */
    padding-left: 4px;
    /* Equivalent to px-4 */
    padding-right: 4px;
    /* Equivalent to px-4 */


}

.items {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
}

.custom-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
}

.cartHeading {
    font-size: 1.5rem;
    font-weight: 500;
}

.paragraph1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}
.spantag{
    font-family: 'YourTitleFont', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
}
.paragraph2{
    font-family: 'YourTitleFont', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.btn {
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 1.5rem;
    transition-duration: 0.3s;
  }
  
  .btn:hover {
    background-color: #4a5568;
  }
  